// Popup
.no-scroll {
    
    
   
    &:before{
        position: fixed;
        z-index: 20;
        content: "";
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.5);
      
    }
   
 }
 .modal-popup_style2 {
     position: fixed;
     right: 0;
     width: 100%;
     height: 100%;
     z-index: 99;
     overflow: hidden;
     -webkit-overflow-scrolling: touch;
     outline: 0;
     text-align:center;
     -webkit-transform: translate3d(100%, 0, 0);
     transform: translate3d(100%, 0, 0);
     visibility: hidden;
     &:before {
         content: '';
         display: inline-block;
         height: 100%;
         vertical-align: middle;
         margin-right: -4px;
     }
 
     &.open {
         visibility: visible;
         bottom: 0;
     top: 0;
     -webkit-transform: translate3d(0, 0, 0);
     transform: translate3d(0, 0, 0);
     }
 }
 
 
 
 .popup-container {
     display: inline-block;
     vertical-align: middle;
     text-align: left;
     margin-left: auto;
     margin-right: auto;
     border-radius: 5px;
     background: #fff;
     
 }
 .popup-close {
     width: 30px;
     height: 30px;
     line-height: 30px;
     text-align:center;
     display: block;
     position: absolute;
 
         right: -15px;
     
 
     top:-15px;
 
     cursor: pointer;
     background:$org;
     border-radius: 50%;
     font-size: 14px;
 
     [class*="fa"] {
         color: $white;
     }
 
 
 }
 
 .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.5;
  }
  
  .modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
  }

  .modal {
    z-index: 100;
    position: relative;
  }

 .pu-review{
     @media(min-width:$screen-sm){
        width: 730px;
        padding: 20px;
     }
     width: calc(100% - 30px);
     padding: 10px;
     @include center;
     .heading{
         text-transform:uppercase;
         font-size: 24px;
     }
     .list{
        list-style:none;
        padding: 0;
        @media(min-width:$screen-sm){
        margin: 0 -15px;
        }
        @include clearfix();
        li{
            @media(min-width:$screen-sm){
            width: 50%;
            padding: 0 15px;
            float:left;
            }
            width: 100%;
            margin-bottom: 5px;
            
            a{
                color: $base-color;
            }
            &:first-child{
                .text{
                    @include text-clamp(1);
                    height: 20px;
                    overflow:hidden;
                }
            }
        }
        .text{
            display: block;
            position: relative;
            padding-left: 25px;
            color:$body-color;
            .fbold{
                color: $base-color;
            }
        }
        [class*="fa"] {
            position: absolute;
            left:0;
            top:4px
        }
     }
     .photo{
         border-radius:5px;
         img{
             width: 100%;
             border-radius:5px;
         }
     }
 }
 

 
 .view-transition-fade-expand-enter-active {
     -webkit-animation: fadeExpand 150ms;
     -o-animation: fadeExpand 150ms;
     animation: fadeExpand 150ms;
 }
 
 .view-transition-fade-shrink-leave {
     -webkit-animation: fadeShrink 150ms;
     -o-animation: fadeShrink 150ms;
     animation: fadeShrink 150ms;
 }
 
 @-webkit-keyframes fadeExpand {
     from {
         opacity: 0;
         -webkit-transform: scale(0.75)
     }
 
     to {
         opacity: 1;
         -webkit-transform: scale(1)
     }
 }
 
 @keyframes fadeExpand {
     from {
         opacity: 0;
         transform: scale(0.75)
     }
 
     to {
         opacity: 1;
         transform: scale(1)
     }
 }
 
 @-webkit-keyframes fadeShrink {
     from {
         opacity: 1;
         -webkit-transform: scale(1)
     }
 
     to {
         opacity: 0;
         -webkit-transform: scale(0.75)
     }
 }
 
 @keyframes fadeShrink {
     from {
         opacity: 1;
         transform: scale(1)
     }
 
     to {
         opacity: 0;
         transform: scale(0.75)
     }
 }